{{ define "home" }}
{{ template "header" . }}
<div class="row">
    <!-- service/home.go 中有一个 homeservice 的 run 方法，里面返回了一些数据。用下面的 . 获取 -->
    {{ range .items }}
    <!-- 一行12格，屏幕从大到小，一个 card 依次占 3、4、6、12格 -->
    <!-- p- m- 在 bootstrap的 spacing 中 -->
    <!-- 属性用大写字母 -->
    <div class="card col-xl-3 col-lg-4 col-md-6 col-sm-12 p-5 border-0">
        <a href="/product?id={{ .Id }}" class="btn">
            <img src="{{.Picture}}" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">{{.Name}}</p>
                <h5 class="card-title">￥{{.Price}}</h5>
            </div>
        </a>
    </div>
    {{end}}
</div>
{{ template "footer" . }}
{{ end }}